.Info{
  width: 100%;
  text-align: center;
}
.Info h4 {
  margin-bottom: 5px;
  margin-top: 20px;
  color: #AAAAAA;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
.Info h1{
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.Info p{
  font-family: 'Poppins', sans-serif;
  color: #666;
  font-size: 14px;
  line-height: 1.75em;
  font-weight: 400;
  margin-bottom: 30px;
}
.Info a{
  color: #666;
  text-decoration: none;
}

@media (min-width: 990px) {
  .Info{
    text-align: left;
    max-width: 90%;
  }
  .Info h1{
    font-size: 56px;
  }
  .Info p{
    font-size: 1.4rem;
  }
}
