.NavItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
}

.NavItem a {
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    transition: 0.4s ease-in-out;
}

.NavItem a:active,
.NavItem a.active {
  font-weight: 800;
  padding-bottom: 0;
  transform: matrix3d(360deg);
  border-bottom: 4px solid #4767f2;
}

@media (min-width: 500px) {
  .NavItem {
      margin: 0;
      display: flex;
      width: auto;
      height: 100%;
      align-items: center;
  }

  .NavItem a {
      color: #333333;
      font-size: 1.2rem;
      font-weight: 100;
      width: 100%;
      margin-right: 50px
  }
  .NavItem a:hover{
    color: #ccc;
  }
}
