.RoundedImage{
  margin: auto;
  width: 100%;
}
.RoundedImage img{
  width: 80%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 5px #ccc;
  border: 7px solid #ffffff;
  margin-left: auto;
}


@media (max-width: 991px) {
  .RoundedImage img{
    width: 50%;
    border: 3px solid #ffffff;
  }
}
@media (max-width: 600px) {
  .RoundedImage img{
    width: 90%;
    border: 3px solid #ffffff;
  }
}
