.RoundedImage{
  margin: auto;
}
.RoundedImage img{
  width: 450px;
  height: 450px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 5px #ccc;
  border: 12px solid #ffffff;
  margin-left: 50px;
}
@media (min-width: 200px) and (max-widtht: 700px) {
  .RoundedImage img{
    margin-left: 200px;
  }
}
