.Logo{
  text-align: center;
  margin-top: auto;
  padding-bottom: 5px;
  height: 80%;
  box-sizing: border-box;
  border-radius: 5px;
}
.Logo img{
  height: 100%;
}
.FirstName{
  font-size: 1.6rem;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  margin-left: 5px;
}
.LastName{
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.Logo a{
  color: black;
}
.Logo a:hover{
  text-decoration: none;
}
@media (max-width: 708px){
  .FirstName{
    display: none;
  }
}
