.SideDrawerInfo{
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 300;
  background-color: #fff;
  padding: 32px 16px;
  transition: transform 0.6s ease-out;
  overflow: scroll;
  background: #f9f9f9;
}

.PageTitle{
  margin-bottom: 50px;
}

.PageTitle .CrossIcon{
  text-align: end;
  padding-right: 60px;
}
.PageTitle i{
  text-align: end;
  font-size: 40px;
  background: #ebebeb;
  padding: 12px 20px;
  color: #888;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.PageTitle i:hover{
  color: #fff;
  background-color: #667eff;
}
.PageTitle h1{
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #333;
}
.PageInfo{
  margin-bottom: 50px;
}
.PageInfo div img{
  width: 100%;
  height: 600px;
  border-radius: 10px;
}
.Description{
  text-align: left;
  padding-left: 20px;
  margin-bottom: 40px;
}
.Description h3{
  font-size: 30px;
  font-weight: 800;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.Description p{
  font-size: 20px;
  font-weight: 600;
  color: #666;
}
.Description i{
  font-size: 20px;
  color: #007bff;
  padding-left: 5px;
}

.Technology{
  text-align: left;
  padding-left: 20px;
  margin-bottom: 40px;
}
.Technology h3{
  font-size: 30px;
  font-weight: 800;
  color: #333;
  font-family: 'Poppins', sans-serif;
}
.SideDrawerInfo h5{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}
.Technology ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Technology li{
  display: inline-block;
}
.Technology button{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  display: inline-block;
  font-size: 18px;
  line-height: 1.5em;
  color: #666;
  padding: 4px 10px;
  background-color: #fff;
  border-radius: 3px;
  border: 3px solid #e5e5e5;
  margin: 3px 2px 2px;
  text-decoration: none;
  cursor: default;
  text-transform: uppercase;
}

.Open{
  transform: translate(0);
}
.Close{
  transform: translate(-100%);
}

@media (max-width: 600px) {

    .PageTitle .CrossIcon{
      text-align: end;
      padding-right: 7px;
      padding-bottom: 5px;
    }
    .PageInfo div img{
      width: 100%;
      border-radius: 10px;
    }
}
