.slides{
  width: 100%;
  box-shadow: 2px 2px 2px 3px #d7d7d7;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.SideDrawerInfo .slides {
  position: relative;
}

.SideDrawerInfo .slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
  color: black;
}
.slides .slick-next:before, .slides .slick-prev:before{
  color: black;
}
