.Languages{
  padding-left: 35px;
  padding-bottom: 45px;
}
.Languages h2{
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}
.Languages h2::after{
  display: block;
  position: absolute;
  content: '';
  width: 50px;
  background-color: #007ced;
  height: 3px;
  bottom: 0;
}
.Languages h2::before{
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  background-color: #f4f4f4;
  height: 3px;
  bottom: 0;
}

.Languages ul{
  padding-left: 0;
  padding-bottom: 30px;
}
.Languages li{
  position: relative;
  list-style: none;
  font-weight: 500;
  text-transform: uppercase;
}

.Languages h6{
  position: absolute;
  padding: 9px;
  color: #ececec;
}

.Languages li:before {
  z-index: -2;
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 90%;
  height: 20px;
  background-color: rgba(54, 126, 223, .5);
  border-radius: 1000px;
}
.Languages li:after {
  z-index: -1;
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 20px;
  background-color: rgba(54, 126, 223, 1);
  border-radius: 1000px;
  animation-duration: .7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.Languages .Arabic:after {
  animation-name: arabic;
}

@keyframes arabic {
    to {
        width: 90%;
    }
}

.Languages .Turkish:after {
  animation-name: turkish;
}

@keyframes turkish {
    to {
        width: 82%;
    }
}

.Languages .English:after {
  animation-name: english;
}

@keyframes english {
    to {
        width: 76%;
    }
}
